<!doctype html>
<html class="no-js" lang="zxx">
    

<head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Biden - Job Board HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="{{ url_for('static', filename='assets/site.webmanifest') }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
        <!-- Place favicon.png in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/meanmenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">

    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- preloader end  -->

        <!-- header-start -->
		<header class="header-transparent">
            <div id="sticky-header" class="main-menu-area menu-01 header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
                            <div class="logo">
                                <a href="index-2.html"><img src="{{ url_for('static', filename='assets/img/logo/Image2.png') }}" alt="" /></a>
                            </div>
                            <div class="logo-black">
                                <a href="index-2.html"><img src="{{ url_for('static', filename='assets/img/logo/image-2-black.png') }}" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-6">
                            <div class="header-right d-flex justify-content-end justify-content-lg-between align-items-center">
                                <div class="main-menu d-none d-lg-block">
                                    <nav id="mobile-menu">
                                        <ul style="list-style:none; display:flex; gap:30px; padding:0; margin:0;">
  <li class="active">
    <a href="{{ url_for('index') }}" style="font-size:22px; font-weight:600; color:rgb(255, 255, 255); text-decoration:none;">
      Home <i class="far fa-angle-down"></i>
    </a>
  </li>
  <li>
    <a href="{{ url_for('candidat_dashboard') }}" style="font-size:22px; font-weight:600; color:rgb(255, 255, 255); text-decoration:none;">
      Jobs <i class="far fa-angle-down"></i>
    </a>
  </li>
      <li>
    <a href="about.html" style="font-size:22px; font-weight:600; color:rgb(255, 255, 255); text-decoration:none;">
     CV Analysis  <i class="far fa-angle-down"></i>
    </a>
  </li>
  <li>
    <a href="#footer" style="font-size:22px; font-weight:600; color:rgb(255, 255, 255); text-decoration:none;">
      About <i class="far fa-angle-down"></i>
    </a>
  </li>
</ul>

                                    </nav>
                                </div>
                                <div class="header-btn d-none d-lg-block">
                                    <div class="hedder-button">
                                        <a class="h-btn d-lg-none d-xl-inline-block" href="{{ url_for('register') }}"><i class="far fa-user-circle"></i> Sign Up</a>
                                        <a class="h-btn h-btn-green" href="{{ url_for('login') }}"><i class="far fa-lock-alt"></i> Log In</a>
                                    </div>
                                </div>
                                <div class="sidebar__menu d-lg-none">
                                    <div class="sidebar-toggle-btn" id="sidebar-toggle">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-start -->

        <!-- sidebar area start -->
        <section class="sidebar__area">
            <div class="sidebar__shape" data-background="{{ url_for('static', filename='assets/img/shape/hexa.png') }}"></div>
            <div class="sidebar__wrapper">
                <div class="sidebar__close">
                    <button class="sidebar__close-btn" id="sidebar__close-btn">
                        <span><i class="fal fa-times"></i></span>
                        <span>close</span>
                    </button>
                </div>
                <div class="sidebar__content">
                    <div class="logo mb-40">
                        <a href="index-2.html">
                            <img src="{{ url_for('static', filename='assets/img/logo/logo-white.png') }}" alt="logo">
                        </a>
                    </div>
                    <div class="mobile-menu d-block"></div>
                    <div class="hedder-button mt-30">
                        <a class="h-btn h-btn-2 mb-15" href="#"><i class="far fa-user-circle"></i> Sign In</a>
                        <a class="h-btn h-btn-green h-btn-white" href="#"><i class="far fa-lock-alt"></i> Log In</a>
                    </div>
                </div>
            </div>
        </section>
        <div class="body-overlay"></div>
        <!-- sidebar area end -->


        <main>

            <!-- hero-area start -->
            <section class="hero-area pos-rel">
                <div class="hero-shape d-none d-lg-block">
                    <span class="circle"></span>
                    <span class="circle circle-yellow"></span>
                    <span class="shape-plus">+</span>
                </div>
                <div class="hero-slider">
                    <div class="single-slider slider-height d-flex align-items-center align-items-xl-end"
                        data-background="{{ url_for('static', filename='assets/img/slider/01.jpg') }}">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-9 col-md-11">
                                    <div class="hero-content pos-rel mt-125">
                                        <div class="hero-dot-shape d-none d-lg-block">
                                            <img src="{{ url_for('static', filename='assets/img/shape/dot-shape.png') }}" alt="">
                                        </div>
                                        <div class="hero-slider-caption">
                                            <h2 data-animation="fadeInUp" data-delay=".7s"><span>500</span> Thousands Dream
                                            Jobs Available Now</h2>
                                            <div class="job-hero-form">
                                                <form action="#">
                                                    <select>
                                                        <option value="1">Job Categories</option>
                                                        <option value="1">Web Design</option>
                                                        <option value="1">Logo Design</option>
                                                        <option value="1">Banner Design</option>
                                                        <option value="1">WP Developer</option>
                                                        <option value="1">Linux Expert</option>
                                                    </select>
                                                    <div class="job-input">
                                                        <input type="text" placeholder="Locations">
                                                    </div>
                                                    <button>Find Jobs <i class="far fa-arrow-right"></i></button>
                                                </form>
                                            </div>
                                            <div class="hero-profile mt-45">
                                                <h3>Popular Profile</h3>
                                                <a href="about.html"><img src="{{ url_for('static', filename='assets/img/slider/hero-profile-img.png') }}" alt="profile"></a>
                                                <h3>1k+ Jobs Done</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 d-none d-xl-block">
                                    <div class="slider-img">
                                        <img src="{{ url_for('static', filename='assets/img/slider/me.png') }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hero-area end -->


            <div class="cta-area pt-50 pb-20" data-background="{{ url_for('static', filename='assets/img/bg/cta-bg.jpg') }}">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="cta-text mb-30">
                                <h2>Started Your Career With <b>Biden</b></h2>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="cta-btn text-lg-right mb-30">
                                <a class="b-btn" href="about.html">Get Started Now <i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- login register modal start -->
           
            <!-- login register modal end -->


        </main>


            <!-- footer area start -->
            <footer id="footer">
                    <div class="footer__area">
                        <div class="footer__bg" data-background="{{ url_for('static', filename='assets/img/footer/footer-bg-1.png') }}"></div>
                        <div class="footer__top black-bg pt-80 pb-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 col-md-7">
                                        <div class="footer__widget mb-50">
                                            <div class="footer__widget-title mb-20">
                                                <div class="logo">
                                                    <a href="index-2.html">
                                                        <img src="{{ url_for('static', filename='assets/img/logo/Image2.png') }}" alt="logo">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="footer__widget-content">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis etarchitecto beatae vitae dicta sunt explicabo.</p>
                                                <div class="footer__info d-sm-flex justify-content-between pr-40">
                                                    <div class="footer__info-item d-flex align-items-center mb-30">
                                                        <div class="icon mr-15">
                                                            <i class="fal fa-gift-card"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h4><span class="counter">3560</span>+</h4>
                                                            <span>Available Jobs</span>
                                                        </div>
                                                    </div>
                                                    <div class="footer__info-item d-flex align-items-center mb-30">
                                                        <div class="icon mr-15">
                                                            <i class="fal fa-user-circle"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h4><span class="counter">8563</span>+</h4>
                                                            <span>Employees</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-7">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="footer__widget pl-20 mb-50">
                                                    <div class="footer__widget-title mb-20">
                                                        <h3>Information</h3>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="#">Looking For A Jobs?</a></li>
                                                                <li><a href="#">International Jobs</a></li>
                                                                <li><a href="#">Upload Resume</a></li>
                                                                <li><a href="#">Setting & Privacy</a></li>
                                                                <li><a href="#">Career Advice</a></li>
                                                                <li><a href="#">Freelanc Category</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="footer__widget pl-10 mb-50">
                                                    <div class="footer__widget-title mb-20">
                                                        <h3>Quick Jobs</h3>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="#">Finance & Banking</a></li>
                                                                <li><a href="#">Business & Consulting</a></li>
                                                                <li><a href="#">Creative Designer</a></li>
                                                                <li><a href="#">Web Developer</a></li>
                                                                <li><a href="#">Digital Marketing</a></li>
                                                                <li><a href="#">Senior Manager</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-5 col-md-6">
                                        <div class="footer__widget pl-30 mb-50">
                                            <div class="footer__widget-title mb-20">
                                                <h3>Newsletters</h3>
                                            </div>
                                            <div class="footer__widget-content">
                                                <div class="footer__subscribe">
                                                    <p>Boluptatem accusantiu dolore laudantium totaaperiam</p>
                                                    <div class="footer__subscribe-form">
                                                        <form action="#">
                                                            <input type="text" placeholder="Enter Your Email">
                                                            <button type="submit" class="b-btn b-btn-green b-btn-white">Subscribe Now <i class="far fa-arrow-right"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer__copyright black-bg">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-xl-6 col-lg-6 col-md-7">
                                        <div class="footer__copyright-text">
                                            <p>© Copyright 2021 <a href="index-2.html">Biden</a> All Rights Reserved.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-5">
                                        <div class="footer__social theme-social f-right">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-twitter"></i>
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-behance"></i>
                                                        <i class="fab fa-behance"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-youtube"></i>
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- footer area end -->



            <!-- JS here -->
            <script src="{{ url_for('static', filename='assets/js/vendor/modernizr-3.5.0.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/vendor/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/vendor/waypoints.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/isotope.pkgd.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.knob.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.appear.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.meanmenu.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/ajax-form.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/wow.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.scrollUp.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/imagesloaded.pkgd.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/nice-select.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"764329db78344eff99753bf4ac6cb5eb","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>

</body>

<!-- Mirrored from www.devsnews.com/template//biden//biden/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 03 Nov 2025 16:53:05 GMT -->
</html>